body {
    margin: 0;
    overflow: hidden;
    font-family: Arial, sans-serif;
}

#container {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #007700; /* Cor verde da mesa de sinuca */
}

#scoreboard {
    position: absolute;
    top: 20px;
    width: 100%;
    display: flex;
    justify-content: space-around;
    color: white;
    font-size: 24px;
    font-weight: bold;
}

#player1, #player2 {
    margin: 0 20px;
}
